<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/webModel">
    <head>
        <title>自动代码管理系统</title>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link type="text/css" rel="stylesheet" href="/web/index.css"/>
        <script type="text/javascript" src="/web/upload.js"></script>
    </head>
    <body>
        <div th:fragment="content" th:remove="tag">
            <div class="container img text-center"><span><i class="fa fa-code"></i></span></div>
            <div class="container">
                <div class="input-group upload-part input-group-lg">
                    <input type="file" class="form-control" onchange="uploadFile(this)" placeholder="Recipient's username" aria-describedby="basic-addon2"/>
                    <span class="input-group-addon" id="generate-item"><i class="fa fa-upload"></i> 选择XML文件上传</span>
                </div>

                <div class="container-fluid text-center" style="clear:both; width:100%;">
                    <h1 class="show-word text-center">让JAVA开发变得更容易</h1>
                    <div class="show-remind text-center">
                        <p>基于SpringBoot的java代码生成工具</p>
                        <p>根据模板编写xml，即可生成一个基本的代码模板</p>
                        <p>Beta0.1版本</p>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>
